<div class="title">
    <div class="flex2">
        <h1>Estadística ocupación por departamento</h1>
    </div>
    <div class="flex1">
        <mat-form-field style="width:80%; margin-left:10%; margin-top:2%" appearance="fill" (click)="onParqueo()">
            <mat-label>Parqueo</mat-label>
            <mat-select required name="departamento"
                required
                #selectDepartamento="ngModel"
                [(ngModel)]="departamentoSeleccionado">
                <mat-error *ngIf="selectDepartamento.invalid">Por favor ingrese una opción</mat-error>
                <mat-option *ngFor="let departamento of departamentos" 
                    [value]="departamento">
                    {{departamento}}
                </mat-option>
            </mat-select>
        </mat-form-field>  
    </div>
</div>

<div class="grid">
    <div>
        <mat-card class="boxes">
            <h3>Lunes</h3>
            <div>
                <canvas
                baseChart
                [data]="datosGraficoL"
                [labels]="labelsGrafico"
                [chartType]="doughnutChartType"
                >
                </canvas>
            </div>
        </mat-card>
    </div>
    <div>
        <mat-card class="boxes">
            <h3>Martes</h3>
            <div>
                <canvas
                baseChart
                [data]="datosGraficoK"
                [labels]="labelsGrafico"
                [chartType]="doughnutChartType"
                >
                </canvas>
            </div>
        </mat-card>
    </div>
    <div>
        <mat-card class="boxes">
            <h3>Miércoles</h3>
            <div>
                <canvas
                baseChart
                [data]="datosGraficoM"
                [labels]="labelsGrafico"
                [chartType]="doughnutChartType"
                >
                </canvas>
            </div>
        </mat-card>
    </div>
    <div>
        <mat-card class="boxes">
            <h3>Jueves</h3>
            <div>
                <canvas
                baseChart
                [data]="datosGraficoJ"
                [labels]="labelsGrafico"
                [chartType]="doughnutChartType"
                >
                </canvas>
            </div>
        </mat-card>
    </div>
    <div>
        <mat-card class="boxes">
            <h3>Viernes</h3>
            <div>
                <canvas
                baseChart
                [data]="datosGraficoV"
                [labels]="labelsGrafico"
                [chartType]="doughnutChartType"
                >
                </canvas>
            </div>
        </mat-card>
    </div>
    <div>
        <mat-card class="boxes">
            <h3>Sábado</h3>
        <div>
            <canvas
            baseChart
            [data]="datosGraficoS"
            [labels]="labelsGrafico"
            [chartType]="doughnutChartType"
            >
            </canvas>
        </div>
    </mat-card>
    </div>
</div>
<div style="height: 2cm"></div>
