
<h1>Reservar espacio visitante</h1>
<form (submit)="onReservarEspacio(postForm)" #postForm="ngForm">
    <mat-grid-list  #grid [cols]="cols" rowHeight="6:1" gutterSize="20px">
        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Escoja una fecha</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="fechaS" [ngModelOptions]="{standalone: true}" [min]="minDate">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Parqueos subcontratados</mat-label>
                <mat-select required name="parqueo"
                    required
                    ngModel
                    #parqueo="ngModel">
                    <mat-error *ngIf="parqueo.invalid">Por favor ingrese una opción</mat-error>
                    <mat-option *ngFor="let parqueo of parqueos_registrados" [value]="parqueo._id">
                        {{parqueo._id_parqueo}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Identificación del visitante</mat-label>
                <input matInput  
                type="text" 
                name="identificacion"
                required
                ngModel
                #identificacion="ngModel">
                <mat-error *ngIf="identificacion.invalid">Por favor ingrese la identificación del visitante</mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Nombre del visitante</mat-label>
                <input matInput  
                type="text" 
                name="nombre"
                required
                ngModel
                #nombre="ngModel">
                <mat-error *ngIf="nombre.invalid">Por favor ingrese el nombre del visitante</mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Placa del vehículo</mat-label>
                <input matInput  
                type="text" 
                name="placa"
                required
                ngModel
                #placa="ngModel">
                <mat-error *ngIf="placa.invalid">Por favor ingrese la placa del vehículo</mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Motivo de la visita</mat-label>
                <input matInput  
                type="text" 
                name="motivo"
                required
                ngModel
                #motivo="ngModel">
                <mat-error *ngIf="motivo.invalid">Por favor ingrese el motivo de la visita</mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Sitio del TEC</mat-label>
                <input matInput  
                type="text" 
                name="sitio"
                required
                ngModel
                #sitio="ngModel">
                <mat-error *ngIf="sitio.invalid">Por favor ingrese el sitio del TEC al que se dirige</mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <p class="titulo_hora_entrada">Hora de entrada</p>
            <ngb-timepicker [(ngModel)]="tiempo_entrada" [meridian]="meridian" name="hora_entrada"></ngb-timepicker>
        </mat-grid-tile>
        <mat-grid-tile>
            <p class="titulo_hora_salida">Hora de salida</p>
            <ngb-timepicker [(ngModel)]="tiempo_salida" [meridian]="meridian" name="hora_salida"></ngb-timepicker>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-error class="error_hora" *ngIf="error_horario">*Por favor ingrese una hora de salida superior a la hora de entrada</mat-error>
            <mat-error class="error_hora" *ngIf="error_horario_2">*Extracto de horario debe ser mínimo de 40 minutos</mat-error>
        </mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile>
            <button 
            mat-raised-button 
            color="primary"
            type="submit">Reservar espacio</button>
        </mat-grid-tile>
    </mat-grid-list>
</form>