<h1> Mis reservaciones </h1>
<div class="title">
    <mat-form-field appearance="fill" class="width-input">
        <mat-label>Ingresa un rango de fechas</mat-label>
        <mat-date-range-input [rangePicker]="picker">
            <input matStartDate [(ngModel)]="fechaInicio" [ngModelOptions]="{standalone: true}" placeholder="Fecha Inicio">
            <input matEndDate [(ngModel)]="fechaFinal" [ngModelOptions]="{standalone: true}" placeholder="Fecha Final">
            </mat-date-range-input>
        <mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <button mat-raised-button color="primary" class="buscarButton width-button" (click)="onBuscar()">Buscar</button>
</div>
  <div *ngIf="busquedaOn">
    <div class="container2" *ngFor="let cartelera of reservas">
      <div class="subcontainer">
        <mat-card class="card">
          <mat-card-title style="margin-top: 8px;">
            {{cartelera.rangoHorario.dia}}
          </mat-card-title>
          <h2>{{cartelera.rangoHorario.hora_entrada}} - {{cartelera.rangoHorario.hora_salida}}</h2>
          <div style="height: 1vh;"></div>
          <div>
            <h4>Nombre del parqueo: {{cartelera.nombreParqueo}}
            <br>Tipo del parqueo: {{cartelera.tipo}}
            <br>Campus: {{cartelera.campus}}
            <br>Dirección: {{cartelera.direccion}}
            </h4>
          </div>
          <div class="textcenter">
            Id del espacio: {{cartelera.idEspacio}}
            <br>Fecha: {{cartelera.rangoHorario.dia_mes}}-{{cartelera.rangoHorario.mes}}-{{cartelera.rangoHorario.anio}}
          </div>
        </mat-card>
      </div>
    </div>
  </div>