
<h1>Liberar espacio</h1>
<form (submit)="onLiberarEspacio(postForm)" #postForm="ngForm">
    <mat-grid-list  #grid [cols]="cols" rowHeight="6:1" gutterSize="20px">
        <!--<mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Espacio</mat-label>
                <mat-select required name="espacio"
                    [disabled]="!parqueo_seleccionado"
                    required
                    ngModel
                    #espacio="ngModel">
                    <mat-error *ngIf="espacio.invalid">Por favor ingrese una opción</mat-error>
                    <mat-option *ngFor="let reserva of reservasOficialesOVisitantes" [value]="reserva.idEspacio" (click)="seleccionarEspacio()">
                        {{reserva.idEspacio}} - {{reserva.idReserva}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-grid-tile> -->
        <mat-grid-tile [rowspan]="3" [colspan]="cols">
            <mat-card width="auto">
                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource " class="mat-elevation-z8 demo-table" >
                
                    <!-- Position Column -->
                    <ng-container matColumnDef="fecha" width="auto">
                        <th mat-header-cell *matHeaderCellDef>Fecha</th>
                        <td mat-cell *matCellDef="let element"> {{element.rangoHorario.dia_mes}}/{{element.rangoHorario.mes}}/{{element.rangoHorario.anio}} </td>
                    </ng-container>

                    <!-- Position Column -->
                    <ng-container  matColumnDef="id_persona" width="auto">
                        <th mat-header-cell *matHeaderCellDef>ID cliente</th>
                        <td mat-cell *matCellDef="let element"> {{element.idPersona}} </td>
                    </ng-container>
        
                    <!-- Position Column -->
                    <ng-container matColumnDef="hora_entrada" width="auto">
                        <th mat-header-cell *matHeaderCellDef>Hora entrada</th>
                        <td mat-cell *matCellDef="let element"> {{element.rangoHorario.hora_entrada}} </td>
                    </ng-container>
        
                    <!-- Position Column -->
                    <ng-container matColumnDef="id_espacio" width="auto">
                        <th mat-header-cell *matHeaderCellDef>ID espacio</th>
                        <td mat-cell *matCellDef="let element"> {{element.idEspacio}} </td>
                    </ng-container>

                    <!-- Position Column -->
                    <ng-container matColumnDef="tipo" width="auto">
                        <th mat-header-cell *matHeaderCellDef>Tipo espacio</th>
                        <td mat-cell *matCellDef="let element"> {{element.idReserva}} </td>
                    </ng-container>

                    <!-- Position Column -->
                    <ng-container matColumnDef="placa" width="auto">
                        <th mat-header-cell *matHeaderCellDef>Placa</th>
                        <td mat-cell *matCellDef="let element"> {{element.placa}} </td>
                    </ng-container>

                    <!-- Position Column -->
                    <ng-container matColumnDef="_id" width="auto" >
                        <th mat-header-cell *matHeaderCellDef [hidden]="true">id</th>
                        <td mat-cell *matCellDef="let element" [hidden]="true"> {{element._id}} </td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr
                        mat-row
                        (click)="onClickRowTable1(row)"
                        [class.demo-row2-is-clicked]="row==clickedRowTable1"
                        *matRowDef="let row; columns: displayedColumns;"
                    ></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5]"
                            showFirstLastButtons 
                            #paginatorAgregar
                            [length]="planillaArray.length" 
                            aria-label="Seleccione la página de departamentos">
                </mat-paginator>
            </div>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="cols">
            <button 
            class="liberar-espacio"
            mat-raised-button 
            color="primary"
            type="submit">Liberar espacio</button>
        </mat-grid-tile>
    </mat-grid-list>
</form>